web/css
web/js
web/compiled
.idea
/composer.phar
.DS_Store
UPGRADE-2.2.md
UPGRADE-2.3.md
UPGRADE-2.4.md
UPGRADE.md
web/media/cache
web/sitemap.default.xml
web/sitemap.xml
node_modules
dump.rdb
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/var
/web/uploads
web/.htaccess

